<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="obstacle">

    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="materials.xacro"/>

    <xacro:property name="PI" value="3.1415926535897931"/>
    <!--LINK_1 -->
    <link name = "base"></link>
    <link name="obs_1">
        <visual>
            <origin xyz="0.05 0.07 0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.01 0.01 0.1"/>
            </geometry>
            <material name="green"/>
        </visual>
        <collision>
            <origin xyz="0.05 0.07 0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.01 0.01 0.1"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="20" x="0.06" y="0.14" z="0.06">
            <origin xyz="0.05 0.07 0" rpy="0.0 0.0 0.0"/>
        </xacro:inertial_box>
    </link>

    <!-- JOINT BETWEEN THE TAIL AND THE  LINK_2 -->

    <joint name="obs_1_joint" type="fixed">
        <parent link="base"/>
        <child link="obs_1"/>
        <limit lower="-0.785398163397" upper="0.785398163397" velocity="50.0" effort="1000.0"/>
        <origin xyz="0.0 0.175 0.0" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <joint_properties damping="6.0" friction="6.0"/>
    </joint>

</robot>